<!-- 分类列表 -->

<!-- 继承公共模板 -->
{{extend './common/page.html'}}



<!-- 头部区域 -->
{{block 'title'}}

<title>博客后台管理系统</title>

<style>
    .layui-table-cell {
        text-align: center;
    }

    #classifyBtn {
        display: block;
        margin: 10px auto 0;
    }
</style>
{{/block}}




<!-- body主体内容区域 -->
{{block 'content'}}

<div class="layui-layout layui-layout-admin">

    <!-- 头部菜单栏 -->
    {{include "./common/header.html"}}

    <!-- 左侧菜单栏 -->
    {{include "./common/leftMenu.html"}}



    <div class="layui-body">
        <!-- 内容主体区域 -->
        <button id="classifyBtn" class="layui-btn layui-btn-primary layui-border-blue" lay-event="addData"
            title="添加">添加</button>
        <table id="classListTable" lay-filter="classListTable"></table>
    </div>


    <!-- 底部 -->
    {{include "./common/footer.html"}}

</div>

{{/block}}





{{block 'script'}}


<script>
    layui.use(['table'], function () {
        var table = layui.table;

        // 第一个实例
        table.render({
            elem: '#classListTable',
            // height: 520,
            url: '/getClassificationList', // 数据接口
            page: {
                limit: 6,
                prev: '上一页',
                next: '下一页'
            },
            cols: [
                [ // 表头
                    {
                        field: 'cate_id',
                        title: 'ID',
                    }, {
                        field: 'cate_name',
                        title: '分类名称',
                    }, {
                        field: 'classify_id',
                        title: '分类ID',
                    }, {
                        field: 'sum',
                        title: '总数',
                    },
                ]
            ]
        });

        

        // 添加
        $("#classifyBtn").click(function () {
            location.href = "/addClassify";
        });

    });
</script>

{{/block}}