<!-- 继承公共模板 -->
{{extend './common/page.html'}}



<!-- 头部区域 -->
{{block 'title'}}

<title>博客后台管理系统</title>
<link rel="stylesheet" href="/layui/css/layui.css">
<style>
    .layui-table-cell {
        text-align: center;
    }
</style>
{{/block}}




<!-- body主体内容区域 -->
{{block 'content'}}

<div class="layui-layout layui-layout-admin">

    <!-- 头部菜单栏 -->
    {{include "./common/header.html"}}

    <!-- 左侧菜单栏 -->
    {{include "./common/leftMenu.html"}}



    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table id="classListTable" lay-filter="test"></table>
    </div>


    <!-- 底部 -->
    {{include "./common/footer.html"}}

</div>

{{/block}}





{{block 'script'}}

<script src="/layui/layui.js"></script>
<script src="/js/layuiCommon.js"></script>

<script>
    layui.use(['table'], function () {
        var table = layui.table;

        // 第一个实例
        table.render({
            elem: '#classListTable',
            height: 520,
            url: '/getClassificationList', // 数据接口
            cols: [
                [ // 表头
                    {
                        field: 'cate_id',
                        title: 'ID',
                        width: 380,
                        sort: true,
                        // fixed: 'left'
                    }, {
                        field: 'cate_name',
                        title: '分类名称',
                        width: 400
                    }, {
                        field: 'sum',
                        title: '总数',
                        width: 380,
                        sort: true
                    },
                ]
            ]
        });

    });
</script>

{{/block}}