<!-- 继承公共模板 -->
{{extend './common/page.html'}}



<!-- 头部区域 -->
{{block 'title'}}
<title>博客后台管理系统</title>
<link rel="stylesheet" href="/layui/css/layui.css">
{{/block}}




<!-- body主体内容区域 -->
{{block 'content'}}
<div class="layui-layout layui-layout-admin">

  <!-- 头部菜单栏 -->
  {{include "./common/header.html"}}

  <!-- 左侧菜单栏 -->
  {{include "./common/leftMenu.html"}}



  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;" id="content">123123</div>
  </div>


  <!-- 底部 -->
  {{include "./common/footer.html"}}

</div>
{{/block}}





<!-- js内容区域 -->
{{block 'script'}}
<script src="/layui/layui.js"></script>
<script>
  layui.use(['element', 'layer', 'util'], function () {
    var element = layui.element,
      layer = layui.layer,
      util = layui.util,
      $ = layui.$;

    //头部事件
    util.event('lay-header-event', {
      //左侧菜单事件
      menuLeft: function (othis) {
        layer.msg('展开左侧菜单的操作111', {
          icon: 0
        });
      },
      menuRight: function () {
        layer.open({
          type: 1,
          content: '<div style="padding: 15px;">处理右侧面板的操作234</div>',
          area: ['260px', '100%'],
          offset: 'rt', //右上角
          anim: 5,
          shadeClose: true
        });
      }
    });


    // $.ajax({
    //   url: `${process.env.URL}/getIndexData`,
    //   type: 'get',
    // }).then(res => {
    //   document.getElementById('content').innerHTML = 123
    //   console.log(res);
    // })
  });
</script>
{{/block}}