<!-- 继承公共模板 -->
{{extend './common/page.html'}}



<!-- 头部区域 -->
{{block 'title'}}

<title>博客后台登录系统</title>
<link rel="stylesheet" href="/layui/css/layui.css">
<link rel="stylesheet" href="/css/login.css">

{{/block}}




<!-- body主体内容区域 -->
{{block 'content'}}

<div class="login">
    <h1>博客后台登录系统</h1>
    <form class="layui-form" action="/loginData" method="post" id="loginForm">
        <div class="layui-form-item">
            <input type="text" name="username" placeholder="请输入用户名称" autocomplete="off">
        </div>
        <div class="layui-form-item">
            <input type="password" name="password" placeholder="请输入账号密码" autocomplete="off">
        </div>

        <div class="layui-form-item">
            <button id="loginBtn" class="btn-primary btn-block btn-large layui-btn" lay-submit
                lay-filter="loginBtn">登录</button>
        </div>

        <div class="layui-form-item">
            <a href="/register" id="registerLink" class="btn-primary btn-block btn-large layui-btn" lay-submit>注册</a>
        </div>
    </form>
</div>



{{/block}}





{{block 'script'}}

<script src="/js/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
        // 判断input值是否为空的正则表达式
        let reg = /^\s*$/;
        //监听提交
        form.on('submit(loginBtn)', function (data) {
            if (reg.test(data.field.username) || reg.test(data.field.password)) {
                layer.msg('账号或密码不能为空')
                return false
            }

            $.post('/loginData', data.field).then(res => {
                if (res.code === 0) {
                    location.href = '/';
                } else {
                    layer.msg(res.message);
                }
            })
            return false
        });
    });
</script>

{{/block}}