<!-- 头部菜单 -->

<style>
    #setNewInfo input,
    #editUserPwd input {
        width: 300px;
        text-shadow: none;
        box-shadow: none;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: none;
        color: #333;
    }

    #setNewInfo h1,
    #editUserPwd h1 {
        color: #333;
        text-shadow: none;
    }



    #setNewInfo #amendForm #avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 0 auto 20px;
        overflow: hidden;
        cursor: pointer;
    }

    #setNewInfo #amendForm #avatar #avatarImg {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }


    #setNewInfo #amendForm #avatar #avatarFile {
        display: none;
    }
</style>

<div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black"></div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
            <i class="layui-icon layui-icon-spread-left"></i>
        </li>

        <li class="layui-nav-item layui-hide-xs"><a href="">体育</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="">财经</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="">军事</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">其他</a>
            <dl class="layui-nav-child">
                <dd><a href="">menu 11</a></dd>
                <dd><a href="">menu 22</a></dd>
                <dd><a href="">menu 33</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide layui-show-md-inline-block">
            <a href="javascript:;" id="link">
                <!-- <img src="https://img2.baidu.com/it/u=1012304310,3936720750&fm=26&fmt=auto&gp=0.jpg" class="layui-nav-img"> -->
                <!-- <img src="" id="setAvatar" class="layui-nav-img" alt="">
                <span id="uname">{{uname}}</span> -->
            </a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" id="userInfo">个人信息</a></dd>
                <dd><a href="javascript:;" id="editPassword">修改密码</a></dd>
                <dd><a href="javascript:;" id="logout">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
            <a href="javascript:;">
                <i class="layui-icon layui-icon-more-vertical"></i>
            </a>
        </li>
    </ul>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    let cookieInfo = Cookies.getJSON('userInfo');
    let str = `<img src="${cookieInfo.avatar}" id="setAvatar" class="layui-nav-img" alt="">
    <span id="uname">${cookieInfo.username}</span>`
    let getItem = localStorage.getItem("logoName");
    document.getElementById("link").innerHTML = str;
    document.querySelector(".layui-logo").innerHTML = getItem ? getItem : "后台管理系统";
</script> -->